<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="utf-8" />
  <title>新規メモ</title>
  <link rel="stylesheet" href="style_new.css">
</head>

<body>
  <h1>メモアプリ<br></h1>

  <form action="new_memo" method="post">
    <textarea name="text" rows="15"></textarea>
    <div class="save_button">
      <p><input type="submit" value="保存"></p>
    </div>
  </form>

</body>
</html>
