<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="utf-8" />
  <title>メモ詳細</title>
  <link rel="stylesheet" href="../style_show.css">
</head>

<body>
  <h1>メモアプリ</h1>
  <p class="memo_text"><%= @content %></p>

  <div class="form_button">
    <form action=<%= "../edit_memo/#{@file_name}" %> method="get">
      <p><input type="submit" value="変更"></p>
    </form>
    <form action=<%= "../selected_memo/#{@file_name}" %> method="post">
      <input type="hidden" name="_method" value="delete">
      <p><input type="submit" value="削除"></p>
    </form>
  </div>
</body>

</html>
